
*.d

*.o

target/

nbproject/

*~

src/\.#*

*.log

\.idea/

post-scarcity\.iml

doc/

log*

\.cproject

\.gdb_history

\.project

\.settings/language\.settings\.xml

utils_src/readprintwc/out

*.dump

*.bak

src/io/fopen

hi\.*

.vscode/

core

.kdev4/

post-scarcity.kdev4
